@{

    ViewBag.Title = "Home Page";

}
<br />
<br />
<div class="container">
    <my-app></my-app>
</div>


@*<div class="row">

    <h3>Nebim V3 Ürün Sorgula</h3>

    <form onsubmit="return dataGetir()">

        <input id="barcode" />

        <button type="submit">Gönder</button>

    </form>

</div>

<br />

<br />



<script>

    function dataGetir() {

        var data = $('#barcode').val();

        $.ajax({

            type: "POST",

            url: "home/getChart",

            data: { val: data },

            dataType: "json",

            success: function (result) {

                $("#Tables").empty();

                for (var j = 0; j < result.length; j++) {

                    $("#myTable").clone().appendTo("#Tables");

                    if (result[j].Data.length == 0)

                        continue;

                    obj = result[j].Data[0];

                    $('#baslik').empty();

                    $('#databody').empty();



                    Object.keys(obj).forEach(function (k) {

                        $('#baslik').append('<th scope="col">' + k + '</th>');

                    });

                    for (var i = 0; i < result[j].Data.length; i++) {

                        row = "<tr>";

                        var dd = result[j].Data[i];

                        Object.keys(dd).forEach(function (k) {

                            console.log(dd[k]);

                            row += '<td>' + dd[k] + '</td>';

                        });

                        row += "</tr>";

                        $('#databody').append(row);

                    }

                }



            }

        });



        $('#barcode').val('');

        return false;

    }

</script>

<div class="row" id="Tables">

</div>

<div hidden>

    <table id="myTable" class="table myTable">

        <thead>

            <tr id="baslik" class="baslik"></tr>

        </thead>

        <tbody id="databody" class="databody"></tbody>

    </table>

</div>*@